{% extends 'base.html' %}

{% load static %}
 
{% block title %} 
    My Blog 
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href=" {% static 'blog/post.css' %}">
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock  %}

{% block content %}
    
    <section id="welcome">
        <header>
            <img
                src="{% static "blog/images/sijalica.webp" %}" alt="Marko - autor ovog bloga." />
            <h2>TODAYS BLOG...</h2>
        </header>
        <p>Hello everyone, this is my new blog, feel free to share your thoughts...enjoy!
        </p>
    </section>

    <section id="latest-posts">
        <h2>Latest posts</h2>
        <ul>
            {% for post in posts %}
                {% include "blog/includes/post.html" %}
            {% endfor %}
        </ul>
    </section>

    <section id="about">
        <h2>What this blog is about</h2>
        <p>
            Welcome to our blog—a haven for writers. 
            Here, you'll discover a treasure trove of resources, insightful articles, 
            and practical tips to fuel your creativity and hone your craft.
            Join our vibrant community, connect with fellow wordsmiths, 
            and embark on a journey of inspiration, growth,
            and boundless storytelling possibilities. Happy exploring!
        </p>
        

    </section>
{% endblock %}
